{% extends "Receipts/layout.html" %}

{% block title %}
    Add Receipt
{% endblock  %}

{% block body %}
    <h1>Add New Receipt</h1>
        <form method="POST" action="{% url 'Receipts:add-receipt' %}">
            {% csrf_token %}
            {{ receipt_form.as_p }}
            <div id="item-details">
                <h2>Receipt Details:</h2>
                {{ receipt_item_formset.management_form }}
                <table>
                    {% for form in receipt_item_formset %}
                        <tr class="item-form">
                            {{ form.as_table }}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <button type="button" id="add-item">Add Another Item</button>
            <button type="submit">Save Receipt</button>
        </form>
{% endblock %} 