{% extends "Receipts/layout.html" %}

{% block title %}
    Receipt
{% endblock %}

{% block body %}
    <h1>{{ supplier.supplier_name }} - {{ supply_date }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity Added</th>
                <th>Former Quantity</th>
                <th>Cost Price</th>
            </tr>
        </thead>
        <tbody>
            {% for supply in supplies %}
                <tr>
                    {% if supply.item.drug %}
                        <td>{{ supply.item.drug.name }}</td>
                    {% elif supply.item.provision %}
                         <td>{{ supply.item.provision.name }}</td>
                    {% else %}
                        <td>No Product</td>
                    {% endif %}
                    <td>{{ supply.quantity_added }}</td>
                    <td>{{ supply.former_quantity }}</td>
                    <td>{{ supply.cost_price }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No product supplied on this date</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}