{% extends "Receipts/layout.html" %}

{% block title %}
    Receipt Details
{% endblock %}

{% block body %}
    {% if item %}
        <h1>Receipt Details</h1>
        <h2>Receipt: {{ receipt.supplier.supplier_name }} - {{ receipt.supply_date }}</h2>
        {% with object_attr=type %}
            <h3>{{ type }} Name: {{ getattr(object_attr, 'name', '') }}</h3>
        {% endwith %}
        <p>Cost Price: {{ receipt.cost_price }}</p>
        <p>Quantity Added: {{ receipt.quantity_added }}</p>
        <p>Former Quantity: {{ receipt.former_quantity }}</p>
    {% else %}
        <h1>Receipt does not exist</h1>
    {% endif %}
{% endblock %}